<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link text-light" href="{{ '/' | relative_url }}">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ 'map.html' | relative_url }}">Map</a></li>
            </ul>
        </div>
    </div>
</nav>